<div id="banner">
  <h1> <span id="breaking">Breaking:</span> View Stories from <span id="cnn" class="agency"> CNN</span> in One Place</h1>
  <%= render 'form' %>
</div>

<div id="headlines">
  <%= render 'index' %>
</div> 

<script>
$(document).ready(function() {
  $("#Limit").on('change', function(){
    limit = $("#Limit").val();
    $.ajax({
      url: "/",
      data: { limit: limit },
      success: function(response) {
        
      },
      error: function (xhr, textStatus) {
        alert('Server error: ' + textStatus);
      }
    }); // End ajax
  }); // End on select change
    
  $(".agency_container a:first-child").css("font-size", "26px");
  $(".agency_container a:first-child").css("color", "#444");
  $(".agency_container a:first-child").css("line-height", "24px");


}); // End document ready
</script>